<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_spotify-ln-check._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_googlecast._tcp</string>
	</array>
</dict>
</plist>
